/* top navagation color */

.topnav {
    background-color: black;
    overflow: visible;
}

/* Style the links inside the navigation bar */

.topnav a {
    float: center;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

element.style {
    margin: 0px;
    background: #0e0e0e;
    height: 100%;
}

.header {
    display: block;
}

.button {
    float: right;
}

.jumbotron {
    background-color: black;
}
